body {
    font-family: "Public Sans";
    scroll-behavior: smooth;
  }
  :root {
    --main: #0F2D61;
  }
  .header-1 {
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    background-color: rgb(0, 22, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    z-index: 1000;
    
  }
  .header-1 .col-lg-4 {
    background-color: #a2a2a2;
    height: 50px;
    border-radius: 0px 0px 115px 0px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    gap: 14px;
}
.header-1 .col-lg-8 {
display: flex;
justify-content: end;
align-items: center;
padding-right: 40px;
}
.header-1 .col-lg-8 button{
    padding: 6px 18px;
    font-size: 14px;
    color: #fff;
    background-color: #a2a2a2;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    transition: background-color .3s ease;
}
.header-1 .col-lg-8 button:hover{
    background-color: #0056b3;
    
}
.header-1 .col-lg-4 span , i{
    color: #fff;
    font-size: 16px;
}

  .header-2{
    height: 80px;
    background-color: var(--main);
position: fixed;
top: 50px;
    width: 100%;
    z-index:1000
  }
  .header-2 .container {
    height: 80px;
    display: flex;
    font-family: "Poppins";
    justify-content: space-between;
    align-items: center;
  }
  .header-2 ul{
    display: flex;
   
    justify-content: normal;
    gap: 35px;
    align-items: center;
    height: 60px;
  }
  .header-2 li{
    list-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  .header-2 i{
    font-size: 10px;
  }
  .header-2 .container .col-lg-2 h6{
color: #fff;
font-size: 15px;
font-weight: 600;
  }
  .header-2 .container .col-lg-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  h3{
    color:var(--main);
    font-size: 19px;
    font-weight: 700;
    font-family: "Public Sans";
    margin-bottom: 10px;
    
  }
  main{
    margin-top: 130px;
  }
  .section-1{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h6{
    color: var(--main);
    font-family: "Public Sans";
    font-size: 16px;
    font-weight: 300;
   
  }
  .textbox{
    border: 1px solid var(--main);
    border-radius: 4px;
    padding: 5px;
    margin-top: -5px;
  }
  .section-text{
    color: var(--main);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .header-3{
    display: none;
    z-index: 1000;
  }
  @media only screen and (min-width:300px) and (max-width:800px){
    .signature{
      display: block !important;

    }
    .sign-part-1 , .sign-part-2{
      width: 100% !important;
    }
    .item:nth-child(2) label{
      width: 228px !important;
    }
    .part-2{
      margin-top: 20px;
    }
    .second-number{
      display: none;
    }
    .part-2 .input{
        width: 180px !important;
    }
    .where-to-find{
      display: none;
    }
    .part-1 .input{
      width: 200px;
    }
    .buttons button{
      width: 140px;
    }
    main{
      margin-top: 0px;
    }
    .header-2{
        display: none;
       

    }
    .header-1{
        position: sticky !important;
    }
    .header-1 i,span{
        font-size: 12px !important;
    }
    .respo-header.active{
        display: flex !important;
    }
    .respo-header{
        position: fixed;
        width: 100%;
        background-color: var(--main);
        padding: 10px 5px;
        transition: all 200ms ease-in-out;
    }
    .respo-header ul li{
        color: #fff;
        list-style: none;
        padding-top: 20px;
    }
    .respo-header ul li i{
        font-size: 10px;
    }
.header-3{
    display: flex !important;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: var(--main);
    height: 60px;
    align-items: center;
}
.header-3 i{
    font-size: 30px;
    color: #a2a2a2;;
}
  }
  .respo-header{
    display: none;
  }
 
  .form-text{
    font-size: 16px;
    margin-bottom: 5px;
  }

  .field {
    margin-bottom: 5px;
  }
  
  .label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }
  
  .input {
    width: 300px;
    padding-left: 5px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--main);
    outline: none;
    font-size: 13px;
  }
   
  #current-date {
    width: 140px;
    padding-left: 10px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--main);
    outline: none;
    font-size: 14px;
  }
p{
  color: #000 ;
  font-family: "roboto";
  font-weight: 400;
  margin-bottom:4px ;
}
strong{
  font-weight: 700;
}
li{
  font-size: 16px;
  font-family: "Roboto";
}
.item-box{
  display: flex;
  gap: 10px;
}
.item-box input[type="text"],.item-box input[type="number"]{
  width: 80px;
  border-radius: 4px;
  border: 1px solid var(--main);
  outline: none;
  font-size: 13px;
  height: 20px;
  text-align: right;
  font-family: "roboto";

}
.item{
  display: flex;
  flex-direction: column;
}
.item label{
  width: 90px;
  font-family: "roboto";
  font-size: 16px;
}
.divider{
  margin-top: 8px;
  margin-bottom: 8px;
  height: 3px;
  background-color: #000;
  width: 100%;
}
.item:nth-child(2) label{
  width: 250px;
}
.section-4 ul li{
  margin-top: 5px;
  font-size: 16px;
  font-family: "roboto";
}
.where-to-find{
  background-color: #067dfd;
  color: #fff;
  font-size: 13px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-weight: 600;
}
.tooltip-inner {
background-color: #F2F2F2;
border: 1px solid black;
padding: 20px;
color: #000;
font-family: "roboto";
font-weight: 500;
}
.hide-content {
  display: block; /* Initially visible */
}
p.hide-content {
  display: block; /* Ensure <p> elements are displayed as block, but no list styles */
}
li.hide-content {
  display: list-item; /* Ensure <li> elements have list styles */
}
ul {
    list-style-type:circle;
     /* Ensures bullets are displayed */
}
.drawing-box {
  width: 95%;
  height: 200px;
  border: 2px dashed var(--main);
  background-color: #fff;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: 500;
  pointer-events: none; /* Ensures text does not block drawing */
}
#clear{
  border: 1px solid transparent;
  font-weight: 400;
  text-align: center;
  font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    background-color: rgb(240, 240, 240);
    text-transform: uppercase;
}
#print{
  background-color: rgb(32, 55, 100);
  font-weight: 600;
  font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    text-align: center;
    border: none;
    text-transform: uppercase;
}
@media only screen and (min-width:801px) and (max-width:950px){
.input{
  width: 400px ;
}
.part-2{
  margin-top: 20px;
}
}
@media only screen and (min-width:951px) and (max-width:1199px){
  .input{
    width: 600px ;
  }
  .part-2{
    margin-top: 25px;
  }
  }
  .form-main{
    padding: 0px 40px;
  }
  @media only screen and (min-width:1400px) {
    .form-main{
      padding: 0px 130px;
    }
 
  }
 .part-two input[type=number]::-webkit-inner-spin-button,
 .part-two input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.print-hide {
  display: flex; /* Visible on the screen */
}
@media print {
  *{
    padding: 0px;
    margin: 0px;
  }
  .signature-text, .sign-part-1 , .sign-part-2 , .additional-terms, .term-of-text{
    margin-top: 0px !important;
  }
  .additional-terms{
    margin-top: 0px !important;
  }
  .term-of-text{
    margin-top: 5px !important;
  }
  .purpose-text{
    margin-top: 0px !important;
  }
  .form-main{
    padding: 0px 10px !important;
    align-items: baseline;
  
  }

  .drawing-box{
    height: 100px;
  }
  .container{
    width: 100% !important;
    --bs-gutter-x:0;
    --bs-gutter-y: 0;

    padding-right: 0;
    padding-left: 0;
    margin-right:0;
    margin-left: 0;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .print-show {
    display: flex; /* Show when printing */
}
.print-hide {
    display: none; /* Hide always when printing */
}
  header {
      display: none;
  }
  main{
    margin-top: 0px;
  }
   .part-1 .input{
      width: 160px;
    }
       .part-2 .input{
        width: 160px !important;
    }
    .part-2{
      margin-top: 20px;
    }
    .phone-number-second{
     display: none ;
    }
    .where-to-find{
      display: none;
    }
    main{
      background-color:  #eaeaea;
    
    }
  .section-1{
    padding-top: 10px !important;
    padding-bottom: 5px !important;
  }
    .buttons{
      display: none !important;
    }
    .section-text{
      font-size: 14px !important;
      margin-bottom: 5px !important;
    } 
     p{
      font-size: 12px !important;
    }
    li{
      font-size: 12px !important;
    }
    .section-2{
      margin-top: 0px;
    }
    .section-5{
      margin-top: 0px !important;
    }
    #sign-principal , .sign-broker{
      margin-top: 0px !important;
    }
    
label{
  font-size: 13px !important;
}
strong{
  font-size: 14px !important;
}

}


 section{
  background-color: #fff;
}
.phone-number-first , .phone-number-second{
  width: 145px;
}